.workList {
    width: 100%;
    .section {
        display: flex;
        align-items: center;
    }
    .item {
        width: 60%;
        max-width: 710px;
        margin: 0 auto;
        .pic {
            width: 100%;
            min-height: 330px;
            background: #333;
            color: #fff;
            display: flex;
            align-items: center;
            text-decoration: none;
            position: relative;
            
            h1 {
                transform: translateX(-15%);
                font-size: 46px;
                font-size: $px46;
                font-weight: 300;
                font-family: "Monserrat", "Roboto";
                letter-spacing: 0.1em;
            }
            &:before {
                display: block;
                content: "";
                position: absolute;
                top: 0; bottom: 0; left: 0; right: 0;
                background: url("../images/workList/workListMask.png") no-repeat right center;
                background-size: cover;
                opacity: 0;
                transition: $transition-default;
            }
            &:hover {
                &:before {
                    background: url("../images/workList/workListMask.png") no-repeat right center;
                    background-size: cover;
                    opacity: 1;
                    animation: workListHover 6s infinite linear both;
                    transition: $transition-default;
                }
            }
        }
        .name_m {
            display: none;
        }
        .skill {
            margin: 35px 0 0;
            li {
                line-height: 2;
                color: #a8a8a8;
                letter-spacing: 0.05em;
                font-size: 14px;
                font-size: $px14;
                padding: 0 0 0 12px;
                background: url("../images/icon/dot.png") no-repeat left center;
                background-size: 5px;
            }
        }
    }
    .item.project_suzuki {
        .pic {
            background: url("../images/workList/suzuki_official.jpg") top center no-repeat;
            background-size: cover;
        }
    }
    .item.project_swift {
        .pic {
            background: url("../images/workList/suzuki_swift.jpg") top center no-repeat;
            background-size: cover;
        }
    }
    .item.project_sport {
        .pic {
            background: url("../images/workList/suzuki_sport.jpg") top center no-repeat;
            background-size: cover;
        }
    }
    .item.project_timotei {
        .pic {
            background: url("../images/workList/timotei.jpg") top center no-repeat;
            background-size: cover;
        }
    }
    .item.project_travemosa {
        .pic {
            background: url("../images/workList/travemosa.jpg") top center no-repeat;
            background-size: cover;
        }
    }
    .item.project_ikea {
        .pic {
            background: url("../images/workList/ikea.jpg") top center no-repeat;
            background-size: cover;
        }
    }
}
.arrow {
    position: fixed;
    left: 0; right: 0; bottom: 60px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    transition: $transition-default;
    span {
        display: block;
        font-size: 14px;
        font-size: $px14;
        font-weight: 300;
        margin: 0 0 3px;
    }
    img {
        width: 12px;
        margin: 0;
    }
}
.arrow.hide {
    opacity: 0;
    transition: $transition-default;
}
@media screen and (max-width: 640px) {
    .workList {
        .item {
            width: 65%;
            max-width: 420px;
            margin: 0 auto;
            .pic {
                width: 100%;
                min-height: 214px;
                h1 {
                    display: none;
                }
            }
            .name_m {
                margin: 5px 0 0;
                padding: 0 10px;
                display: block;
                font-size: 34px;
                font-size: $px34;
                font-weight: 300;
                line-height: 1.2;
                font-family: "Monserrat", "Roboto";
                letter-spacing: 0.1em;
            }
            .skill {
                margin: -5px 0 0;
                padding: 0 10px;
                li {
                    font-size: 12px;
                    font-size: $px12;
                    padding: 0 0 0 12px;
                    background: url("../images/icon/dot.png") no-repeat left center;
                    background-size: 5px;
                }
            }
        }
    }
    .arrow {
        left: 0; right: 0; bottom: 24px;
        span {
            font-size: 12px;
            font-size: $px12;
        }
        img {
            width: 9px;
            margin: 0;
        }
    }
}
@media screen and (max-width: 375px) {
	.workList {
        .item {
            width: 65%;
            max-width: 420px;
            margin: 0 auto;
            .pic {
                width: 100%;
                min-height: 194px;
                h1 {
                    display: none;
                }
            }
            .name_m {
                margin: 10px 0 0;
                padding: 0 10px;
                font-size: 30px;
                font-size: $px30;
            }
            .skill {
                margin: 0;
                padding: 0 10px;
                li {
                    font-size: 12px;
                    font-size: $px12;
                    padding: 0 0 0 12px;
                    background: url("../images/icon/dot.png") no-repeat left center;
                    background-size: 5px;
                }
            }
        }
    }
    .arrow {
        left: 0; right: 0; bottom: 24px;
        span {
            font-size: 12px;
            font-size: $px12;
        }
        img {
            width: 9px;
            margin: 0;
        }
    }
}
@media screen and (max-width: 320px) {
	.workList {
        .item {
            width: 65%;
            max-width: 420px;
            margin: 0 auto;
            .pic {
                width: 100%;
                min-height: 165px;
                h1 {
                    display: none;
                }
            }
            .name_m {
                margin: 10px 0 0;
                padding: 0 8px;
                font-size: 26px;
                font-size: $px26;
            }
            .skill {
                margin: 0;
                padding: 0 8px;
                li {
                    font-size: 10px;
                    font-size: $px10;
                    padding: 0 0 0 12px;
                    background: url("../images/icon/dot.png") no-repeat left center;
                    background-size: 5px;
                }
            }
        }
    }
    .arrow {
        left: 0; right: 0; bottom: 20px;
        span {
            font-size: 10px;
            font-size: $px10;;
        }
        img {
            width: 8px;
            margin: 0;
        }
    }
}