.workList {
    width: 100%;
    .section {
        display: flex;
        align-items: center;
    }
    .item {
        width: 60%;
        max-width: 710px;
        margin: 0 auto 60px;
        .pic {
            width: 100%;
            min-height: 330px;
            background: #333;
            color: #fff;
            display: flex;
            align-items: center;
            text-decoration: none;
            h1 {
                transform: translateX(-15%);
                font-size: 46px;
                font-size: $px46;
                font-weight: 300;
                font-family: "Monserrat", "Roboto";
                letter-spacing: 0.1em;
            }
        }
        a { 
            position: relative;
            h1 {
                position: relative;
                &:before, &:after {
                    display: block;
                    content: attr(data-glitch);
                    position: absolute;
                    top: 0; left: 0;
                    height: 100%;
                    width: 100%;
                    opacity: .8;
                }
                &:after {
                    // color: #ff2287;
                    color: #f0f;
                    z-index: -2;
                }
                &:before {
                    // color: #5c64ff;
                    color: #0ff;
                    z-index: -1;
                }
            }
            &:before {
                content:"";
                display: block;
                position: absolute;
                left: 0; right: 0; top: 0; bottom: 0;
                // background: rgba(255,255,255,0.5);
            }      
            &:hover {
                h1 {
                    &:before {
                        animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both 5;
                    }
                    &:after {
                        animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both 5;
                    }
                }     
            }
        }
        .skill {
            margin: 35px 0 0;
            li {
                line-height: 2;
                color: #a8a8a8;
                letter-spacing: 0.05em;
                font-size: 14px;
                font-size: $px14;
                padding: 0 0 0 12px;
                background: url("../images/icon/dot.png") no-repeat left center;
                background-size: 5px;
            }
        }
    }
}
.arrow {
    position: fixed;
    left: 0; right: 0; bottom: 60px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    span {
        display: block;
        font-size: 14px;
        font-size: $px14;
        font-weight: 300;
        margin: 0 0 3px;
    }
    img {
        width: 12px;
        margin: 0;
    }
}
@media screen and (max-width: 640px) {
	// 414
}
@media screen and (max-width: 375px) {
	
}
@media screen and (max-width: 320px) {
	
}